appdirs
attrs
Automat
backcall
black
cffi
cfgv
click
constantly
cryptography
cssselect
decorator
distlib
filelock
flake8
h2
hpack
hyperframe
hyperlink
identify
idna
incremental
ipykernel
ipython
ipython-genutils
itemadapter
itemloaders
jedi
jmespath
jupyter-client
jupyter-core
lxml
mccabe
mypy-extensions
nodeenv
parsel
parso
pathspec
pexpect
pickleshare
pre-commit
prompt-toolkit
Protego
ptyprocess
pyasn1
pyasn1-modules
pycodestyle
pycparser
PyDispatcher
pyflakes
Pygments
pyOpenSSL
python-dateutil
PyYAML
pyzmq
queuelib
regex
Scrapy
service-identity
six
toml
tornado
traitlets
Twisted
typed-ast
typing-extensions
virtualenv
w3lib
wcwidth
zope.interface
